.THIS .green {
    color: green;
}

.THIS .orange {
    color: orange;
}

.THIS .yellow {
    color: rgb(201, 201, 0);
}

.THIS .red {
    color: red;
}

.THIS .header-item{
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}